<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="jesseSection" type="System.Configuration.NameValueSectionHandler"/>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    
    <connectionStrings>
        <add name="Blogging" connectionString="Data Source=.\SQL2008; Initial Catalog=Blogging; User ID=sa; Password=5118765" />
        <add name="Custom" connectionString="Data Source=.\SQL2008; Initial Catalog=Custom; User ID=sa; Password=5118765" />
    </connectionStrings>
    
    <appSettings>
        <add key="setting1" value="30"/>
        <add key="setting2" value="yyyy/MM/dd hh:mm:ss t"/>
    </appSettings>

    <jesseSection>
        <add key="processingDirectory" value="C:\testfiles\ProccesFolder"/>
    </jesseSection>
</configuration>